

.card-body {
    width: 300px;
    height: 400px;
    padding: 20px;
    background-color: #000000;
    color: #ffffff; 
    border: 1px solid #b90000;
}

.card-img-top {
    width: 300px;
    height: auto;
    border-bottom: 1px solid #b90000;
}